version: '3.8'
services:
  back:
    build: ./back
    ports:
      - 8081:8080
  front:
    build: ./front
    ports:
      - 8080:8080
    environment:
      - DB_URL=mariadb://db:3306/DB?user=root&password=myPassword

  db:
    image: mariadb
    restart: always
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_PASSWORD: myPassword
    volumes:
      - /some/dir=/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - 80:8080
